#mainbio {
  float: right;
  margin: 0 auto;
  padding-right: 11%;
}
#img {
  margin: 0;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}
#img,
#mainbio {
  display: inline;
}

.underline {
  border-bottom: 1px solid black;
}

h1 {
  padding-top: 50px;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
  color: black;
}

.row {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 15px;
}
