#mainbio {
	float: right;
	margin: 0 auto;
	padding-right: 11%;
}
 #img {
	margin: 0 auto;
	padding-left: 0%;
	float: left;
} 
#img, #mainbio{
	display: inline;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center; 
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
    
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.nav {
    padding: 14px 16px;
   
}
