
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  display: inline;
  float: none;
  transition: color .25s ease;
/*  display: inline-block;
  float: none;*/

}
#social {
	position: absolute;
	bottom: 0;
	margin-left:-150px;
	left: 50%;
	/*text-align: center;*/


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
 color: black;
}

.fa-twitter {
 color: black;
}

.fa-google {
 color: black;
}

.fa-linkedin {
 color: black;
}
.fa-github {
  color: black;
}
.fa-envelope {
	color: black;
}



