/* SOCIALS */

.fa {
    padding: 10px;
    font-size: 30px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    display: inline;
    float: none;
    transition: color .1s ease;
    color: black;    
}
/*
fa:hover {
    opacity: 0.7;
}
*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center; 
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
    
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.nav {
    padding: 14px 16px;
   
}


/* SECTION CONTACT */

.section-contact {
    background-color: white;
    padding: 10rem 0;
}

.control-label {
    font-size: 20px;
    line-height: 80%;
    margin-top: 10px;
    
}

.form-control {
    font-size: 18px;   
}

.form-horizontal {
    padding-top: 5rem;
}

textarea{
    height: 200px;
}
textarea:focus, input:focus {
    border-color: black !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px rgba(231, 76, 60, 0.05) !important;
    
}

.btn.btn-success {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 5rem;
    transition: 0.5s;
}

.btn.btn-success:hover {
    background-color: black;
    border: 1px solid black;
    transition: 0.5s;
    
}

.underline{
    border-bottom: 1px solid black;
}

h1{
    padding-top: 50px;
}


