.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  display: inline;
  float: none;
  transition: color 0.25s ease;
  color: black;
}
#social {
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
}

.fa:hover {
  opacity: 0.7;
}
