html,
body {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  background: url(../img/pattern.jpg) center center;
  font-family: courier new;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: rgb(50, 50, 50);
}

.button2 {
  background-color: rgb(90, 90, 90);
}

.button3 {
  background-color: #808080;
}
.button4 {
  background-color: rgb(200, 200, 200);
}

a:hover {
  opacity: 0.8;
  color: black;
  text-decoration: none;
}

.container {
  height: 100%;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#content-wrap {
  padding-right: 15px;
  padding-left: 15px;
}

.underline {
  border-bottom: 1px solid black;
}

h1 {
  padding-top: 50px;
  font-weight: bold;
}

footer {
  flex-shrink: 0;
  margin-top: 50px;
}

.content {
  flex: 1 0 auto;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.myName {
  font-size: 100px;
}
.myDescription {
  font-size: 20px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  display: inline;
  float: none;
  transition: color 0.25s ease;
  color: black;
}

.fa:hover {
  opacity: 0.7;
  color: black;
  text-decoration: none;
}

footer {
  bottom: 0;
  width: 100%;
  height: 7rem;
  position: relative;
}

.social-footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  min-height: 40px;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  text-decoration: underline;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav-item {
  padding: 5px 5px;
}

@media (max-width: 600px) {
  .fa {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .row {
    display: block;
    margin-top: 50px;
  }
  .myName {
    font-size: 50px;
  }
  .myDescription {
    font-size: 15px;
  }
  .button {
    font-size: 15px;
  }
}

/* Landscape mode for smaller screen */
@media (max-height: 400px) {
  .myName {
    font-size: 70px;
  }
  .myDescription {
    font-size: 20px;
  }
  .button {
    font-size: 15px;
  }
}

@media (max-height: 414px) and (max-width: 736px) {
  .myName {
    font-size: 70px;
  }
  .myDescription {
    font-size: 20px;
  }
  .button {
    font-size: 15px;
  }
}
