html,
body {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  background: url(../img/pattern.jpg) center center;
  font-family: courier new;
}
.container {
  height: 100%;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: rgb(50, 50, 50);
}

.button2 {
  background-color: rgb(90, 90, 90);
}

.button3 {
  background-color: #808080;
}
.button4 {
  background-color: rgb(200, 200, 200);
}

a:hover {
  opacity: 0.8;
  color: black;
  text-decoration: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#content-wrap {
  padding-right: 15px;
  padding-left: 15px;
}

.underline {
  border-bottom: 1px solid black;
}

h1 {
  padding-top: 50px;
  font-weight: bold;
}

.footer {
  flex-shrink: 0;
}

.content {
  flex: 1 0 auto;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.myName {
  font-size: 120px;
}
.myDescription {
  font-size: 20px;
}

/* temp solution for small screens */
@media (max-width: 560px) {
  .row {
    display: block;
    margin-top: 100px;
  }
  .myName {
    font-size: 50px;
  }
  .myDescription {
    font-size: 15px;
  }
  .button {
    font-size: 15px;
  }
}
