
/* SECTION TIMELINE */

.heading,
.under-heading{
	text-align: center;
}

.timeline {
    list-style: none;
    padding: 20px 0 80px;
    padding-top: 50px;
    position: relative;
}
    
.timeline:before {   /* GREY LINE */
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgb(90,90,90);
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: "";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline p {
    font-family: 'Nunito-Regular';
    font-weight: 700;
}
.timeline-panel{
    background-color: white
}


.timeline > li:not(.timeline-inverted) {
    padding-right: 90px;
}

.timeline > li.timeline-inverted {
    padding-left: 90px;
}

.timeline > li > .timeline-badge {
    font-size: 1rem; !important
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgb(0,0,0);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    color:white;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center; 
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
    
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.nav {
    padding: 14px 16px;
   
}



/*
CONTACT
*/


.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  display: inline;
  float: none;
  transition: color .25s ease;


}
#social {
    
    margin-left: 39%;
/*
	position: relative;
	bottom: 0;
	margin-left:150px;
	right: 31%;
	text-align: center;
*/


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
 color: black;
}

.fa-twitter {
 color: black;
}

.fa-google {
 color: black;
}

.fa-linkedin {
 color: black;
}
.fa-github {
  color: black;
}
.fa-envelope {
	color: black;
}
h1 {
    font-weight: bold;
    padding-top: 50px;
}
.underline{
    border-bottom: 1px solid black;
}




