.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  display: inline;
  float: none;
  transition: color 0.25s ease;
  color: black;
}

.fa:hover {
  opacity: 0.7;
  color: black;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
}

.social-footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
