<!DOCTYPE html>
<html>
<link rel="icon" type="image/png" href="../img/ak2.png" sizes="64x64">

<div class="topnav" id="myTopnav">
  <a href="../index.html">HOME</a>
  <a href="../views/portfolio.html">PORTFOLIO</a>
  <a href="../views/resume.pdf" target="_blank">RESUME</a>
  <a href="../views/contact.html">CONTACT</a>
</div>

<head>
	<title>About me</title>
	<h1 align="center">About me</h1>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
</head>
<body>
<div id="about">
	<img id="img" src="../img/face2.png" style="width:345px;height:460px; float: left; padding-right: 5%"/>
	<p>
	Hi there! <br>
	I'm a software developer and a 3rd year computer science student at the University of British Columbia in Vancouver, BC.
	I'm passionate about software development because I enjoy solving problems and creating new things. 
	<a href="../views/portfolio.html"> Please check out what projects I'm currently working on!</a>
	</p>
</div>

<div id= "social">

	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/contact.css">

	<a href="mailto:ari.cnd@gmail.com" class="icon fa fa-envelope"></a>
	<a href="https://www.linkedin.com/in/ari-kh/" target="_blank" class="fa fa-linkedin"></a>
	<a href="https://github.com/ari-kh" target="_blank" class="fa fa-github"></a>
	<a href="https://twitter.com/ari941" target="_blank" class="fa fa-twitter"></a>
	<a href="https://www.facebook.com/ari941" target="_blank" class="fa fa-facebook"></a>
	
</div>

</body>
</html>