<!DOCTYPE html>
<html>
  <head>
    <title>About me</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/about.css" />
    <link rel="stylesheet" type="text/css" href="../css/socials.css" />
    <link rel="icon" type="image/png" href="../img/ak2.png" sizes="64x64" />
  </head>

  <body>
    <div class="container-fluid" id="page-container">
      <nav class="navbar navbar-expand-lg navbar-dark topnav static-top">
        <div class="container">
          <a routerLink="" href="../index.html" class="navbar-brand"
            ><img src="../img/logo-white.png" height="40px" alt=""
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="../views/about.html">ABOUT</a>
                <span class="sr-only">(current)</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/portfolio.html">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/resume.pdf" target="_blank"
                  >RESUME</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contact.html">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="content-wrap">
        <h1 align="center"><span class="underline">ABOUT ME</span></h1>
        <div class="row">
          <div class="col-sm-4">
            <img
              id="img"
              src="../img/face2.png"
              class="img-fluid mx-auto d-block"
            />
          </div>
          <div class="col-sm-8" id="desciption">
            <p>
              Hi there! <br />
              <br />
              I'm a self-motivated 4th year CS undergraduate at the
              <a href="https://www.ubc.ca/" target="_blank"
                >University of British Columbia</a
              >
              in
              <a href="https://en.wikipedia.org/wiki/Vancouver" target="_blank"
                >Vancouver, Canada.</a
              >
              I'm passionate about technologies, and interested in web
              development, big data and cloud technologies. Previously, I have
              interned at
              <a href="https://www.mazdis.com/" target="_blank">Mazdis</a> and
              <a href="https://www.netapp.com/" target="_blank">NetApp</a> as a
              software developer. Currently, I’m interning at
              <a href="https://www.parsable.com/" target="_blank">Parsable</a>
              as a software engineer where I'm part of the web engineering team
              that is responsible for building consumer-facing web features of
              Parsable platform.<br />
              <br />
              <a href="../views/portfolio.html">
                Please check out what projects I'm currently working on!</a
              >
            </p>
          </div>
        </div>
      </div>

      <footer class="social-footer">
        <div class="container text-center">
          <p><span class="underline"> Find me elsewhere</span></p>

          <a href="mailto:thearikh@gmail.com" class="icon fa fa-envelope"></a>

          <a
            href="https://www.linkedin.com/in/thearikh/"
            target="_blank"
            class="fa fa-linkedin"
          ></a>

          <a
            href="https://github.com/thearikh"
            target="_blank"
            class="fa fa-github"
          ></a>

          <a
            href="https://twitter.com/thearikh"
            target="_blank"
            class="fa fa-twitter"
          ></a>
        </div>
      </footer>
    </div>
  </body>
</html>
