<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel="icon" type="image/png" href="../img/ak2.png" sizes="64x64" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../css/contact.css" />
    <link rel="stylesheet" type="text/css" href="../css/socials.css" />
  </head>

  <body>
    <div class="container-fluid" id="page-container">
      <div class="topnav" id="myTopnav">
        <a routerLink="" class="logo"
          ><img src="../img/logo-white.png" height="48px" alt=""
        /></a>
        <a class="nav" href="../index.html">HOME</a>
        <a class="nav" href="../views/about.html">ABOUT</a>
        <a class="nav" href="../views/portfolio.html">PORTFOLIO</a>
        <a class="nav" href="../views/resume.pdf">RESUME</a>
      </div>
      <div id="content-wrap">
        <h1 align="center"><span class="underline">GET IN TOUCH</span></h1>
        <center>LETS START SOMETHING GREAT TOGETHER</center>
        <div class="row">
          <div
            class="col-md-8"
            style="float: none; margin: 0 auto; max-width: 760px;"
          >
            <form
              class="form-horizontal"
              role="form"
              action="http://formspree.io/thearikh@gmail.com"
              method="POST"
            >
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-12">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="First & Last Name"
                    value=""
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-12">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="example@domain.com"
                    value=""
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="message" class="col-sm-2 control-label"
                  >Message</label
                >
                <div class="col-sm-12">
                  <textarea
                    class="form-control"
                    row="4"
                    name="message"
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                  <input
                    id="submit"
                    name="submit"
                    type="submit"
                    value="Send"
                    class="btn btn-success"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <footer class="social-footer">
        <div class="container text-center">
          <p><span class="underline"> Find me elsewhere</span></p>
          <a href="mailto:thearikh@gmail.com" class="icon fa fa-envelope"></a>

          <a
            href="https://www.linkedin.com/in/thearikh/"
            target="_blank"
            class="fa fa-linkedin"
          ></a>

          <a
            href="https://github.com/thearikh"
            target="_blank"
            class="fa fa-github"
          ></a>

          <a
            href="https://twitter.com/thearikh"
            target="_blank"
            class="fa fa-twitter"
          ></a>
        </div>
      </footer>
    </div>
  </body>
</html>
